.skill-bubble{
    font-size: 80%;
    background-color: var(--color-button);
    color: var(--color-text);
    padding: 8px 12px;
    border: 1px solid var(--color-button);
    border-radius: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}