.sideMenu{
    height:100%;
    width:140px;
    position:fixed;
    border-width: 3px;
    border-style: solid;
    border-left:0;
    margin: 0;
    padding: 0;
    border-image:
      linear-gradient(
        to bottom, 
        grey, 
        rgba(0, 0, 0, 0)
      ) 1 100%;
  }


.sideNav{
    display:flex;
    flex-direction: column;
}

  /* Ripple effect */
  .ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: grey radial-gradient(circle, transparent 1%, grey 1%) center/15000%;
  }
  .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }

.sideMenuButton{
    float: left;
    display: block;
    color: black;
    text-align: left;
    padding: 14px 4px;
    text-decoration: none;
    font-size: 17px;
    word-wrap: break-word;
    display: block;
}

.sideMenuButton:hover{
    background-color: #555;
    color: white;
}

.dropdown-container{
  display:none;
  background-color: #ffffff;
  padding-left: 8px;
  flex-direction: column;
}

.fa-caret-down {
  float: right;
}

.megaMenuIcon{
  display: flex;
  align-items: center;
}

.megaMenuIcon:hover{
  background-color: #555;
  cursor: pointer;
}

.active {
  background-color: #555;
  color: white;
}
