.skillItems li:before{
    content: "\25b8";
    color: pink;
    position: relative;
    left: 0;
}

.skillItems{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skillHeaders{
    width:100%;
}

.moduleHeaders{
    margin-top: 40px;
    width:100%;
}