.down-arrow {
    cursor:pointer;
    position: fixed;
    top: 70vh;
    left: 50vw;
    width: 0;
    height: 30px;
    border: 2px solid;
    border-radius: 2px;
    animation: jumpInfinite 1.5s infinite;
  }

  .up-arrow {
    cursor:pointer;
    position: fixed;
    top: 70vh;
    left: 50vw;
    width: 0;
    height: 30px;
    border: 2px solid;
    border-radius: 2px;
    animation: jumpInfinite 1.5s infinite;
  }
  
  .down-arrow:after {
    cursor:pointer;
    content: " ";
    position: absolute;
    top: 12px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
  }

  .up-arrow:after {
    cursor:pointer;
    content: " ";
    position: absolute;
    top: 0px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(225deg);
  }

  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }

  .aboutMe{
    height:calc(100vh - 90px);
  }

  .skills{
    height:calc(100vh - 90px);
  }

  .experience{
    height:calc(100vh - 90px);
  }
