  .timeline {
    position: relative;
    max-width:var(--body-size);
    margin: 0 auto;
  }

  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
 
  .container1 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  .container1::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  .left {
    left: 0;
  }

  .right {
    left: 50%;
  }

  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #FF9F55;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #FF9F55;
  }

  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #FF9F55;
    border-color: transparent #FF9F55 transparent transparent ;
    border-width: 10px 10px 10px 0;
  }
  

  .right::after {
    left: -13px;
  }

  .content1 {
    padding: 20px 30px;
    background-color: aliceblue;
    position: relative;
    border-radius: 6px;
    border-color: black;
  }

  @media screen and (max-width: 600px) {
    .timeline::after {
      left: 31px;
    }

    .container1 {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  

    .container1::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }

    .left::after, .right::after {
      left:7px;
    }
  

    .right {
      left: 0%;
    }
  }

  .timeLineCard {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background: var(--background);
    box-shadow: 0 0 6px 0 rgba(#202024, .12);
    transition: all .35s ease;
    
    &::before, &::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      background: #000;
      height: 4px;
    }
    
    &::before {
      width: 0;
      opacity: 0;
      transition: opacity 0 ease, width 0 ease;
      transition-delay: .5s;
    }
    
    &::after {
      width: 100%;
      background: white;
      transition: width .5s ease;
    }

    .hoverContent {
      overflow: hidden;
      max-height: 0;
      transform: translateY(1em);
      transition: all .55s ease;
      
      p {
        margin: 1.5em 0 0;
        color: #6E6E70;
        line-height: 1.4em;
      }
    }
    
    &:hover {
      box-shadow: 0 10px 20px 0 rgba(#202024, .12);
      
      &::before {
        width: 100%;
        opacity: 1;
        transition: opacity .5s ease, width .5s ease;
        transition-delay: 0;
      }
      
      &::after {
        width: 0;
        opacity: 0;
        transition: width 0 ease;
      }
      
      .hoverContent {
        max-height: fit-content;
        transform: none;
      }
    }
  }